# Virtual environment
myvenv/

# Python cache
__pycache__/
*.pyc

# Local test scripts
test.py

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints

.env

# secrets
.env
utils/.env

# python
myvenv/
__pycache__/
*.pyc

# data + artifacts you don't want in the repo
*.zip
submission/
data/